.App {
  text-align: center;
}

.App-header {
  background-color: #8f59ce;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(243, 242, 242);
}

.App-link {
  color: #0a2730;
}
